---
import 'glightbox/dist/css/glightbox.css';
import '@/styles/glightbox-custom.css'
import path from 'path'
import Empty from '@/components/Empty.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllGalleries } from '@/lib/data-utils'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const galleries = await getAllGalleries()
  return galleries.map((gallery) => ({
    params: { id: gallery.id },
    props: { gallery },
  }))
}

const { gallery } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/content/gallery/assets/**/*.{jpg,jpeg,png,gif}',
)
const imagePaths = Object.keys(images).filter(imagePath =>
  imagePath.includes(gallery.data.assetsName),
)
---

<Layout class="max-w-4xl">
  <PageHead
    slot="head"
    title={`${gallery.data.name} (Gallery)`}
    description={`${gallery.data.name} (Gallery)`}
    noindex
  />
  <Breadcrumbs
    items={[
      { href: '/gallery', label: 'Photos', icon: 'lucide:aperture' },
      { label: gallery.data.name, icon: 'lucide:images' },
    ]}
  />
	<section class="py-16 pt-8">
		<div class="container-custom">
      <section id="photo-grid" class="relative w-full mx-auto overflow-hidden">
      {
        imagePaths.map(async imagePath => {
          const image = images[imagePath]()
          return (<a
            href={imagePath}
            class="photo-item glightbox absolute transition-transform hover:scale-[1.02] hover:z-10"
            data-gallery="gallery1"
            data-type="image"
            data-glightbox={path.basename(imagePath)}
          >
            <Image
              src={image}
              quality={10}
              format="webp"
              class="w-full h-full object-cover rounded-sm shadow-sm hover:shadow-lg transition-shadow"
              alt={path.basename(imagePath)}
            />
          </a>)
        })
      }
      </section>
		</div>
	</section>
</Layout>

<script>
	import '@/lib/photo-grid';
</script>