---
import NoteCard from '@/components/NoteCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllNotes, groupArticlesByYear } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allNotes = await getAllNotes()
  return paginate(allNotes, { pageSize: SITE.pageSize })
}

const { page } = Astro.props
// console.log(page)
const notesByYear = groupArticlesByYear(page.data)
const years = Object.keys(notesByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Notes" />
  <Breadcrumbs
    items={[
      { label: 'Notes', href: '/notes', icon: 'lucide:book-open' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:milestone' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      years.map((year) => (
        <section class="flex flex-col gap-y-4">
          <div class="font-medium">{year}</div>
          <ul class="flex flex-col gap-4">
            {notesByYear[year].map((note) => (
              <li>
                <NoteCard note={note} />
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/notes/"
    client:load
  />
</Layout>
