---
import { Badge } from '@/components/ui/badge'
import { Separator } from '@/components/ui/separator'
import { getCombinedReadingTime, getSubpostCount, isSubpost } from '@/lib/data-utils'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import Link from './Link.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const formattedDate = formatDate(post.data.date)
const readTime = await getCombinedReadingTime(post.id)
const subpostCount = !isSubpost(post.id) ? await getSubpostCount(post.id) : 0
---

<div class="bg-secondary/50 hover:bg-secondary/70 rounded-xl border p-4 transition-colors duration-300 ease-in-out">
  <Link
    href={`/blogs/${post.id}`}
    class="flex flex-col gap-4 sm:flex-row"
  >

    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">{post.data.title}</h3>
      <p class="text-muted-foreground mb-2 text-sm">{post.data.description}</p>

      <div
        class="text-muted-foreground mb-4 flex flex-wrap items-center gap-x-2 text-xs"
      > 
        <Icon name="lucide:calendar-days" class="size-4" />
        <span>{formattedDate}</span>
        <Separator orientation="vertical" className="h-4!" />
        <Icon name="lucide:clock" class="size-4" />
        <span>{readTime}</span>
        {
          subpostCount > 0 && (
            <>
              <Separator orientation="vertical" className="h-4!" />
              <span class="flex items-center gap-1">
                <Icon name="lucide:file-text" class="size-4" />
                {subpostCount} subpost{subpostCount === 1 ? '' : 's'}
              </span>
            </>
          )
        }
      </div>

      {
        post.data.tags && (
          <div class="flex flex-wrap gap-2">
            {post.data.tags.map((tag) => (
              <Badge variant="secondary" className="flex items-center gap-x-1 text-foreground/50">
                <Icon name="lucide:tag" class="size-3" />
                {tag}
              </Badge>
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
